<!DOCTYPE html>
<html lang="en">
  <head>
    <title> User Information </title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>


    <link rel="stylesheet" href="listUsers.css" />
  </head>
  <body>
    <header>
      <h1> Users </h1>
    </header>
    <main>
    <div class="list" id="list"></div>
    <div class="pagenumbers" id="pagination"></div>
    </main>
    <div id="usersinfo"> </div>
    <script src="userTable.js"></script>
  </body>
</html>